<!DOCTYPE html>
<html>
<head>
	<title>New Student</title>
</head>
<body>
	<h1>New Student</h1>

	<form method="post" action="/students">
		Name: <input type="text" name="name">
		<br>
		Email: <input type="email" name="email">
		<br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>